.nav-container {
  background-color: #efefef;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.nav-wrp {
  display: flex;
  padding: 2rem;
  justify-content: flex-end;
}

.nav-wrp a {
  font-size: 1.4rem;
  color: #656565;
  font-weight: 500;
}

.nav-wrp a:hover,
.nav-wrp .active {
  color: #434343;
  text-decoration: underline;
}

.nav-wrp a:first-child {
  margin-right: 1rem;
}
